$txt: blue;
$dark_border:#0000;
$blue_theme:#2D3E50;
$light_blue_theme:rgb(188, 234, 255);
$extra_light_blue_theme:rgba(219, 230, 235, 0.425);
$light_orange_theme:#ca7300;
$hover_color:grey;
$background_grey:rgb(207, 207, 207);
$txt_grey:grey;
$txt_grey_c:#4B4B4B;
// $over_lay:rgba(217, 227, 231, 0.63);
$over_lay:#c47c1018;
$shadow_over_lay:#2d3e506b;
$bg_over_lay:rgb(202, 202, 202);
$tr_bg:#c47c1023;
$border_grey: rgba(211, 211, 211, 0.39);
$bg_black:rgba(58, 58, 58, 0.267);
