@use 'const';
@use 'mixins';
@use 'extends';

.app_container_min {
    @include mixins.flex(center, center, row);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background: linear-gradient(to right, const.$blue_theme 40%, rgb(217, 227, 231) 40%);
    border-radius: 0;
    height: 100%;
    width: 100%;

    .try{
        height: 99%;
        background-image: url('../images/Untitled\ design.png');
        background-size: 140;
        // background-repeat: no-repeat;
        background-position: 100% 0%;
        // opacity: 0.3;
        position: absolute;
        z-index: 0;
        width: 40%;
        left: 0;
        top: 0;
        // transform: rotate(180deg);
    }

    .auth_main {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 60%;
        width: 50%;
        background: white;
        padding: 40px;
        z-index: 4;


        .logo_box {
            @include mixins.flex(flex-start, center, row);
            gap: 10px;

            .short_logo {
                height: 45px;
                width: 45px;
            }

            p {
                color: const.$blue_theme;
                font-weight: 700;
                letter-spacing: 2px;
                font-size: 15px;
            }
            .ehub_line {
                font-size: 23px;
                margin-left: -8px
            }
        }
    }

    .main_container {
        @include mixins.flex(flex-start, center, row);
        height: 90%;

        .vector {
            background-image: url("../images/mosaic_logo.png");
            background-size: 250%;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 60%;

        }

        .rest {
            height: 100%;
            width: 40%;
        }

    }
}

.login {

    width: 95%;
    height: 105%;
    border: 1px solid const.$light_orange_theme;
    padding: 5%;
    @include mixins.flex(center, center, column);
   
    h4 {
        margin-top: 10%;
        color: rgb(97, 97, 97)
    }

    .input_holder {
        border: 1px solid rgb(218, 218, 218);
        border-radius: 5px;
        margin-top: 20px;
        width: 95%;
    }

    .input {
        @include mixins.flex(flex-start, center, row);
        background-color: rgba(233, 233, 233, 0.712);
        border-radius: 0;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;

        .icon {
            color: grey;
            margin-right: 10px;
        }

        .l_input {
            font-size: 12px;
            width: 100%;

            input {
                outline: none;
                background-color: transparent;
                border: 0;
                font-size: 11px;
                width: 100%;
            }

        }
    }

    .signin_butt {
        @include mixins.flex(center, center, row);
        border: 1px solid const.$light_orange_theme;
        padding: 10px;
        margin-top: 10px;
        color: const.$light_orange_theme;
        font-weight: bold;
        cursor: pointer;
        width: 88%;
    }

    .google {
        background: url("../images/google.png");
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px;
    // border: 2px solid red;
    width: 81%;
    background-color: white;
}
}
.auth_error{
    margin: 10%;
    h4{
        color: rgb(240, 0, 0);
    }
    p{
        font-size: 13px;
    }
}