@use 'mixins';
@use 'const';
.button{
    width: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 20px;
    background-color: const.$bg_over_lay;
    border-radius: 30px;
    @include mixins.flex(center, center,row);
    height: 20px;
    .icon{
        margin-right: 10px;
        @include mixins.flex(center,center,row)
    }
    p{
        padding: 0;
        // margin-top: -5px;

    }

}
.button:hover{
    cursor: pointer;
}

.spread {
    width: 10%;
    cursor: pointer;
    @include mixins.flex(center, center, row);
}
.message_box{
    border: 1px solid const.$border_grey;
    background-color: rgb(58, 58, 58);
    width: fit-content;
    padding: 20px;
    position: fixed;
    z-index: 25;
    color: white;
    bottom: 20px;
    p{
        color: white;
    }
}
.loading{
    font-size: 25px;
}
.loading_box{
    border: 1px solid const.$blue_theme;
    // background-color: const.$bg_black;
    color:  const.$blue_theme;
    width: 80px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    z-index: 20;
    @include mixins.flex(center,center, row)
}
.empty{
    @include mixins.flex(center, center,column);
    height: 100%;
    .refresh{
        margin-top: 20px;
    }
    .ref_button{
        margin-top: 5%;
    }   
}
.cart_holder{
    cursor: pointer;
    div{
        position: absolute;
        margin-left: 25px;
        margin-top: -10px;
        font-size: 13px;

    }
}
.short_logo{

    background: url("../images/oca_short_logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.guage{
    @include mixins.flex(center, center, row);
    overflow: hidden;
    width: 30px;
    height: 30px;
    .g{
        // border: 2px solid red;
        // .valueArc{
        //     fill:green
        // }
        // fill: green;
        // stroke: rgb(88, 0, 0);
        .MuiGauge-valueArc{
        // fill: red;


        }
    }
}

.done_fill{
    border-radius: 100%;
    background-color: green;
    width: 25px;
    height: 25px;
    @include mixins.flex(center, center, row);
    .tick{
        color: white;
    }
}

.ehub_line{
    color: transparent;
    background: url('../images/ehub_line.png');
    background-size: cover;
    font-size: 40px;
    margin-left: -5px;
    z-index: -2;
    background-position: center;
    padding-bottom: 5px;
}