.loader {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loader h1{
    margin-top: -20px;
}

.spinner {
    border: 3px solid #b8b8b82c; /* Light grey background */
    border-top: 3px solid #3498db; /* Blue color for the spinner */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}