@use 'const';
@use 'mixins';
@use 'extends';

.landing {
    display: flex;
    padding: 10%;
    height: 100%;
    width: 100%;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 40% 30%;
    background-color: rgb(239, 239, 239);

    
    .oca_logo {
        background-image: url('../images/mosaic_logo.png');
        height: 100px;
        width: 100px;
        position: absolute;
        background-size: 115%;
        background-repeat: no-repeat;
        background-position: 210% 50%;
        top: 10%;
        left: 20%;
        // border: 1px solid red;
        width: 60%;
        height: 75%;
        background-color: white;
        border-radius: 20px;
        z-index: 1;
        border: 1px solid orange;

    }

    a {
        text-decoration: none;
        color: white;
    }

    h2 {
        color: rgb(255, 140, 0);
        // border: 1px solid red;
        padding-left: 10px;
        padding-right: 24px;
        border-top: none;
        border-radius: 0;
        margin-right: 16%;
        // border: 2px solid red;

    }
.line{
    border-left: 3px solid orange;
margin-right: 10px;
margin-top: -15px;
}
    .left_pane {
        z-index: 2;
        flex: 2.5;
        @include mixins.flex(flex-start, flex-end, column);
        padding-right: 7%;
        margin-left: -10%;

        .profile {
            @include mixins.flex(center, center, row);
            position: absolute;
            width: 30%;
            bottom: 20%;
            gap: 1%;

            .ava {
                background-color: rgb(224, 224, 224);
                height: 40px;
                width: 40px;
                border-radius: 100%;
                letter-spacing: 2px;
                @include mixins.flex(center, center, row);
                font-weight: 700;
                font-size: 17px;
                letter-spacing: '-5px';
        }

            p {
                min-width: 20%;
                font-size: 12px;
                text-align: left;
            }

            .hd {
                font-size: 13px;
                width: 100%;
            }
        }
    }

    .right_pane {
        z-index: 2;
        flex: 1;
        border-radius: 10px;
        border: 1px solid const.$light_orange_theme;
        padding: 4%;
        padding-bottom: 0;
        background-color: white;
        min-width: 10%;
        max-width: 25%;
        height: 50%;
        margin-top: 0%;
        margin-right: 15%;
        @include mixins.flex(flex-start, center, column);
        overflow: hidden;

        .header {
            @include mixins.flex(flex-start, center);
            padding: 12px;
            border-radius: 10px;
            gap: 5%;
            background-color: const.$blue_theme;
            color: white;
            width: 100%;
            cursor: pointer;
            text-overflow: clip;
            font-size: 12px;

            p:nth-child(1) {
                width: 45%;
                border-radius: 0;
                border-right: 1px solid grey;
                text-align: center;
                text-overflow: clip;
            }

        }

        .app_holder {
            margin-top: 10%;
            @include mixins.flex(center, center, center);
            flex-wrap: wrap;
            columns: 2;
            width: 120%;
            overflow: scroll;

            .app {
                border: 1px solid const.$blue_theme;
                height: 80px;
                width: 80px;
                @include mixins.flex(center, center, column);
                color: const.$light_orange_theme;
                margin: 15px;

                .icon {
                    font-size: 25px;
                }

                p {
                    font-size: 8px;
                    text-overflow: clip;
                    text-wrap: nowrap;
                }
            }

            .app:hover {
                color: const.$blue_theme;
                cursor: pointer;

            }

        }
    }
}